<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-surveys">
                <div class="card-header">
                    <h5 class="card-title">Total Surveys</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">0</h3>
                </div>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="records-received">
                <div class="card-header">
                    <h5 class="card-title">Total Records Received</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{records_recieved}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="response-rate">
                <div class="card-header">
                    <h5 class="card-title">Response Rate</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">0</h3>
                </div>
            </div>
        </div>
    </div>
</div>